{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}

    <div class="container">
        <div class="row">
            <div class="col">
                <article>
                    <header>
                        <h1>{{- .Title -}}</h1>
                    </header>
                    <section>
                        {{ .Content }}
                    </section>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                {{ with .NextInSection}}
                Previous: <a href='{{ .Permalink | relURL }}'>{{ .Title }}</a>
                {{ end }}
            </div>
            <div class="col text-right">
                {{ with .PrevInSection}}
                Next: <a href='{{ .Permalink | relURL }}'>{{ .Title }}</a>
                {{ end }}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
