@import 'mixins';

h1,h2,h3,h4,h5,h6 {
  font-weight: lighter;
}

.article {
  margin-bottom: 10px;
}

pre {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-header {
  background-color: #da5759;
  padding: 10px 0;
  margin-bottom: 10px;
}

.footer {
  color: #fff;
}

hr.footer {
  background-color: #555;
  color: #555;
  width: 100%;
}

.page-footer {
  background-color: #404040;
  color: #fff;
  font-size: smaller;
  padding: 48px 0 32px 0;
}

.page-footer-copyright {
  font-size: small;
  color: #666;
}
