<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand nav-link active" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {{ range .Site.Menus.main }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ upper .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
